@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
	font-family: 'Times New Roman';
}

:root {
	--primary: #FFD369;
	--secondary: #393E46;
	--tertiary: #D1D1D1;
	--light: #EEEEEE;
	--dark: #222831;
	--gantari: 'Gantari';
}

.text-dark {
	color: var(--dark);
}

.bg-light {
	background-color: var(--tertiary);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	text-align: center;
	color: var(--dark);
	padding: 25px 0;
}

footer .copyright {
	margin-bottom: 0.3rem;
}

footer .credits {
	margin-bottom: 0;
}

footer .credits a {
	color: #fff;
}